services:
  iot-api:
    build: .
    container_name: iot-api
    ports:
      - "8000:8000"
    restart: unless-stopped

  seller-agent:
    build: ./agents
    container_name: seller-agent
    restart: unless-stopped
    command: npm run start:seller
    env_file:
      - .env
    depends_on:
      - iot-api

  buyer-agent:
    build: ./agents
    container_name: buyer-agent
    restart: unless-stopped
    command: npm run start:buyer
    env_file:
      - .env
    depends_on:
      - iot-api
